@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252, 100%, 98%;
    --foreground: 252, 78%, 32%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 252, 78%, 41%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 252, 78%, 41%;
    --input: 252, 78%, 41%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 263, 85%, 22%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 263, 85%, 45%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 263, 85%, 45%;
    --secondary-foreground: 210 20% 98%;

    --muted: 263, 85%, 45%;
    --muted-foreground: 263, 100%, 98%;

    --accent: 263, 85%, 45%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 263, 85%, 45%;
    --input: 263, 85%, 45%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
